<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilehearingapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET" /> <!-- add permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.example.mobilehearingapp.Intro"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Main"
            android:label="@string/classNameMain" >
            <intent-filter>
                <action android:name="com.example.mobilehearingapp.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Animallist"
            android:label="@string/classNameAnimalList" >
            <intent-filter>
                <action android:name="com.example.mobilehearingapp.ANIMALLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>    
        
        
        
        
        
    </application>

</manifest>
